.reviewText {
    width: 100%;
    height: 5vw;
}

.reviewSubmit button{
    background-color: #df321b;
    color: white;
    border: none;
    border-radius: 1vh;
    padding: 1vh;
    cursor: pointer;
    align-items: right;
}

.reviewSubmit button:hover {
    background-color: #c62914;
}

.reviewSubmitButton {
    background-color: #df321b;
    color: white;
    border: none;
    border-radius: 1vh;
    padding: 1vh;
    cursor: pointer;
}

.reviewSubmitButton:hover {
    background-color: #c62914;
}

.reviewRatingandPhoto {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.provideAPhoto {
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
}

.provideAPhoto input {
    margin-top: 1.5vh;
    padding-left: 0.5vw;
}

.reviewForm textarea {
    padding-left: 0.5vw;
}
