.updateReviewModal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 50px;
    height: 40vh;
    overflow-y:scroll;
}

.updateReviewModal::-webkit-scrollbar {
    display: none;
}

.updateReviewModal  div{
    /* padding: 10px; */
}

.updateReviewModal textarea {
    margin: 1vw 0px;
}

.updateReviewModal  select {
    width: 97%;
}

.updateReviewModal  ul {
    color: red;
}

.updateReviewModal  h1 {
    color: #e33d26;
}

.reviewSubmit {
   text-align: center;
}

.rate {
    padding: 0px;
}

.yourRating {
    padding: 0px;
    /* text-align: center; */
}

.reviewForm {
    min-width: 18vw;
}

.updateReviewStars {
    display: flex;
}

.noteImage {
    padding-bottom: 10px;
}

.reviewForm input {
    padding-left: 10px;
}
