.searchBarContainer {
    width: 40vw;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    background-color: white;
    /* border: 1px solid #ccc; */
}

.searchBarContainer input {
    padding: 9px 42px 9px 10px;
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
    background-color: transparent;
}

.searchBarContainer:focus{
    border: 1px solid black;
    border-radius: 96px;
}

.srcImg {
    color: #9b9b9b;
    padding-left: 9px;
}

.searchResult {
    position: absolute;
    width: 40vw;
    background-color: white;
    top: 55px;
    /* left: 20px; */
    /* right: 100px; */
    list-style: none;
    border: 1px solid rgb(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.4);
    padding: 1rem 0;
    z-index: 99;
    border-radius: 8px;
}

.recipesFound {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding: 4px 1rem;
}

.noRecipeFound {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px 1rem;
}

.recipesFound:hover {
    text-decoration: underline;
}
