.recipeCard-main-div {
    width: 300px;
    height: 360px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 3vw;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border: 1px solid #ccc;;
    background-color: white;

}

.recipeCard-main-div:hover {
    box-shadow: 0px 0px 10px 2px rgb(78, 77, 77);
}

.image-div {
    height: fit-content;
    width: fit-content;

    /* border-bottom: 2px solid grey; */
}

.recipe-preview-image {
    width: 300px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 2px grey;
}

.red {
    color:
    #222222;
}
.gray {
    color: gray;
}

.recipeInfoDiv {
    padding-left: 1vw;
    padding-right: 1vw;
}

.recipeInfoDiv p {
    font-size: 1.4vh;
}

.recipeName {
    margin-top: 0px;
}
