.recipeNameImgRating {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* padding: 0px 30px 0px 0px; */
    /* margin: 0px 10px 0px 0px; */
    margin-left: 13.5vh;
}

#recipe-details-inner {
    display: flex;
    flex-direction: column;
}

.recipeNameImgRating img{
    width: 75vh;
    height: 50vh;
    /* margin: 1vh; */
}

.RecipeNameAndOwnerName {
    border-bottom: 1px solid #ccc;
    width: 40vh;
    margin-right: 5vh;
    /* margin-left: 8vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.RatingsAndDescription {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* padding: 0px 30px 0px 0px;
    margin: 0px 10px 0px 0px; */
    margin-left: 13.5vh;
    /* margin-right: 30vw; */
}

.RatingsDiv {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 1vw;
    padding-right: 1vw;
    min-width: 28vw;
    max-width: 28vw;
}

.RatingStars {
    display: flex;
    flex-direction: row;
    /* margin-left: 10vw; */
}

.RatingStars * {
    /* padding: 0.1vw; */
}

.RatingsDiv h3 {
    padding: 10px 10px 10px 0px;
}

.recipeDesc {
    /* margin-left: 10vw; */
    margin-right: 13.5vw;
}

.RatingsDiv * {
    padding: 0.3vw;
}

.IngredientsAndSteps {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-left: 13.5vw;
    /* margin-right: 30vw; */
}

.recipeSteps {
    margin-right: 30vw;
    min-width: 41vw;
    max-width: 41vw;
    /* border-top: 5px solid black; */
}

.recipeIngredients {
    padding-right: 1vw;
    min-width: 28vw;
    max-width: 28vw;
    /* border-top: 5px solid black; */
}

.recipeIngredients h3 {
    border-top: 5px solid black;
}

.recipeSteps h3 {
    border-top: 5px solid black;
}

.recipeIngredients p {
    line-height: 1.5;
}

.recipeSteps p {
    line-height: 1.5;
}

#page-bottom-container {
    display: flex;
    flex-direction: row;
    margin-left: 13.5vw;
}

.review-container h3 {
    /* margin-right: 30vw;
    min-width: 25vw; */
    border-top: 5px solid black;
}

.review-container {
    min-width: 41vw;
    max-width: 41vw;
}

.reviewRatingsDiv {
    padding-right: 1vw;
    min-width: 28vw;
    max-width: 28vw;
}

.reviewRatingsDiv h3 {
    border-top: 5px solid black;
}

.allNotesHeader {
    border-bottom: 1px solid #ccc;
}

.reviewsAndStars {
    display: flex;
    flex-direction: row;
}

.reviewsAndStars i {
    font-size: 2vw;
}

/* .borderBottom {
    border-bottom: 1px solid #ccc;
} */

.recipeImgDiv {
    border: 1px solid #ccc;
    width: 75vh;
    height: 50vh;
}

.avgRatingFixed {
    font-weight: bold;
}

.userRatings {
    color: grey;
}

.indiv-review {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.UpdateAndDeleteRecipeButtons {
    display: flex;
    flex-direction: row;
}

.UpdateAndDeleteRecipeButtons button {
    background-color: #df321b;
    color: white;
    border: none;
    border-radius: 1vh;
    padding: 1vh;
    cursor: pointer;
}
.UpdateAndDeleteRecipeButtons button:hover {
    background-color: #c62914;
}

.RecipeRatingsAndButtonsDiv {
    display: flex;
    flex-direction: column;
}

.RatingsStarsAndReviewsRow {
    display: flex;
    flex-direction: row;
}
