.recipeNameImgRating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    margin: 10px;
}

#recipe-details-inner {
    display: flex;
    flex-direction: column;
}

.recipeNameImgRating img{
    width: 75vh;
    height: 50vh;
}

.RecipeNameAndOwnerName {
    border-bottom: 1px solid #ccc;
    width: 40vh;
    margin-right: 5vh;
    /* margin-left: 8vh; */
    display: flex;
    align-items: center;
}

.RatingsAndDescription {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 30px;
    margin: 0px 10px;
}

.RatingsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 11vw;
}

.RatingStars {
    display: flex;
    flex-direction: row;
    /* margin-left: 10vw; */
}

.RatingStars * {
    /* padding: 0.1vw; */
}

.RatingsDiv h3 {
    padding: 10px;
}

.recipeDesc {
    margin-left: 6.5vw;
    margin-right: 13.5vw;
}

.RatingsDiv * {
    padding: 0.3vw;
}

.IngredientsAndSteps {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-left: 13.5vw;
    /* margin-right: 30vw; */
}

.recipeSteps {
    margin-right: 30vw;
    /* border-top: 5px solid black; */
}

.recipeIngredients {
    padding-right: 1vw;
    /* border-top: 5px solid black; */
}

.recipeIngredients h3 {
    border-top: 5px solid black;
}

.recipeSteps h3 {
    border-top: 5px solid black;
}

.recipeIngredients p {
    line-height: 1.5;
}

.recipeSteps p {
    line-height: 1.5;
}
